/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css starts here... */
body {
	font-size: 1.25vw;
	text-align: center;
	background-image: url('../images/background-paper.jpg');
}
h1 {
	font-family: 'Roboto Condensed';
	font-size: 1.5vw;
	padding: 1vw;
	text-align: left;
}
/*mobile screen*/
@media only screen and (max-aspect-ratio:1/1){
	body {font-size: 3vw;}
}
/*header and fonts*/
header {
	position: fixed;
	z-index: 4;
	top: -2vw;
	left: 0;
	width: 100vw;
}
header .logo {
	width: 100%;
}
#panel-content h1 {
	font-family: 'Roboto Condensed';
	font-size: 3vw;
	padding: 0;
}
#panel-content p {
	font-family: 'Roboto Condensed';
	line-height: 2vw;
	font-size: 1.5vw;
}
/*final home page*/
#panel-container {
	position: fixed;
	top: 0;
	left: 5vw;
	width: 90vw;
	height: 50vw;
	overflow: auto;
	z-index: 3;
}
.panel-background {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.panel-background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}
#panel-content {
	visibility: hidden;
	position: relative;
	top: 12vw;
	left: 17vw;
	z-index: 2;
	width: 57vw;
	height: 28vw;
	overflow: auto;
	outline: 0;
	text-align: left;
	/*how to hide scroll bar??*/
}
#panel-content article {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}
#panel-content div {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2vw 0;
}
#panel-content img {
	width: 100%;
	padding: 2vw 0;
}


/*countdown page*/
.landing, .mlanding, .mlanding2 {
	position: relative;
	top: 0;
	width: 100vw;
}
.landing img, .mlanding img {
	width: 100%;
}
.mlanding2 img {
	width: 80%;
}
.mlanding {
	display: none;
}
/*mobile screen*/
@media only screen and (max-aspect-ratio:1/1){
	.landing {display: none;}
	.mlanding {display: block;}
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: #eb5854;
	padding: 0.5em;
}
footer p {
	padding: 1em;
}
/*timer countdown*/
.header {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	width: 100vw;
}
.header div {
  display: inline-block;
  line-height: 1;
  padding: 0.8vw 0.4vw;
  font-size: 3vw;
}
.header span {
  display: inline-block;
	padding: 0 0.4vw;
  font-size: 1.3vw;
  color: white;
}
#days {
  font-size: 5vw;
  color: #db4844;
}
#hours, #minutes, #seconds {
  font-size: 3vw;
  color: #db4844;
}
/*mobile screen*/
@media only screen and (max-aspect-ratio:1/1){
	.header div {
		padding: 1.5vw 9vw;
		font-size: 6vw;
	}
	.header span {
		padding: 0 0.6vw;
	  font-size: 2vw;
	}
	#days {
		font-size: 6vw;
		padding: 1.5vw 0.6vw;
	}
	#hours, #minutes, #seconds {
		font-size: 6vw;
		padding: 1.5vw 0.6vw;
	}
}
