---
layout: default
---
<section class="constrain hero">
    <h3> </h3>
  </section>

  <section class="constrain">
    <h3>Write about your stay with us...</h3>
    {% include reviews-new.html %}
  </section>

  <section class="constrain">
    <h3></br>Previous Reviews</br></h3>
    {% include reviews.html %}
  </section>

  <section class="constrain">
  <form class="form" method="POST" action="https://api.staticman.net/v1/entry/the-hearth/the-hearth.github.io/master">
    <input name="options[redirect]" type="hidden" value="https://the-hearth.github.io/">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <label><input name="fields[name]" type="text">Name</label> 
    <label><input type="file" name="fields[photo]">Photo</label>      
    <button type="submit">Go!</button>
  </form>
  </section>

</div>
