{% for post in site.posts %}
	<article style="display:block;" class="blog">
			<h1><a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.title }}
					</a>
			</h1>
			<p class="postcontent">
				{{ post.content | markdownify }}
			</p>
			<p class="postdate">{{ post.date | date: "%-d %B %Y" }}</p>
			<p>Tags:
				{% for category in post.categories %}
					&nbsp<a class="posttag" href="#">
						{[ post.categories ]}
					</a>
				{% endfor %}</br>
			</p>
			<p></br></br>___________________________________________________________________________________________</br></br></p>
	
</article>
{% endfor %}
