{% for post in site.posts %}
	<article style="display:block;" class="blog">
			<h1><a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.title }}
					</a>
			</h1>
			<p class="postdate">{{ post.date | date: "%-d %B %Y" }}</p>
			<p>Tags:
				{% for category in post.categories %}
					&nbsp<a class="posttag" href="#">
						{{ category }}
					</a>
				{% endfor %}</br>
			</p>
			<p class="postcontent">
				{{ post.content }}
			</p>
			<p></br></br>___________________________________________________________________________________________</br></br></p>
	</article>
{% endfor %}

	<article style="display:block;" class="blogindex">
		<div>
			<h1>Index</br></br></h1>
			<h2>All Posts</h2>
			<ul>
			  {% for post in site.posts %}
			    <li>
			      <p><a href="{{ post.url }}">{{ post.title }}</a></p>
			    </li>
			  {% endfor %}
			</ul>
		</div>
		<img style="display:block;" src='images/index_background.png' alt="index background"></img>
	</article>
