<div class="js-comments">
	{% assign reviews = site.data.reviews | sort %}
	
	{% for review in reviews reversed %}
		{% assign reviewData = review[1] %}

		<article class="review mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h3 class="mdl-card__title-text">{{ reviewData.title }}</h3>		    
		  </div>
		  <div class="mdl-card__supporting-text">
		    <p><strong>Review by: </strong>{{ reviewData.name }}, {{ reviewData.address }} </br>
			  <a href={{ reviewData.website }}>{{ reviewData.website }}</a>
	 	    </p>		    
		    <div class="review__description">
			{{ reviewData.description | markdownify }} 
		    </div>
		  </div>
		</article>
	{% endfor %}
</div>
